---
version: 2
interactions:
    - id: 0
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/random
        method: GET
      response:
        body: "{\"id\":109,\"emoji\":\"\U0001F3E0\",\"title\":\"Thurgau Population Data\",\"description\":\"API providing data on the permanent population of the Thurgau canton since 2007. Includes information on residents with main residence in Thurgau and specific considerations for foreign population.\",\"documentation\":\"https://data.tg.ch/explore/dataset/sk-stat-56/information/\",\"methods\":1,\"health\":70,\"source\":\"https://freepublicapis.com/thurgau-population-data\"}"
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - fra1::iad1::sppxc-1733006284877-62a34fce0cc1
        status: 200 OK
        code: 200
        duration: 892.611042ms
    - id: 1
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/apis/275
        method: GET
      response:
        body: "{\"id\":275,\"emoji\":\"\U0001F92F\",\"title\":\"Free Public APIs API\",\"description\":\"FreePublicAPIs now has a free public API! The Free Public APIs API provides up-to-date information on every free public API listed on freepublicapis.com. Perfect for developers, students and hobbyists. It is limited to 1000 requests a day, if you need more, feel free to reach out. Also if you build something with this API, make sure to add it as a showcase project here.\",\"documentation\":\"https://www.freepublicapis.com/api\",\"methods\":3,\"health\":90,\"source\":\"https://freepublicapis.com/api\"}"
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - fra1::iad1::z575r-1733006285703-6cb115f35c2d
        status: 200 OK
        code: 200
        duration: 443.456917ms
[...]
    - id: 3
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/apis
        method: GET
      response:
        body: "[{\"id\":220,\"emoji\":\"⚠️\",\"title\":\"404 Error Handler\",\"description\":\"This API is designed to help developers manage and respond to 404 errors on their websites. It provides insights into potential causes and offers solutions for correcting broken links and missing files to improve user experience.\",\"documentation\":\"http://ccdb.hemiola.com/\",\"methods\":1,\"health\":65,\"popularity\":551,\"avg_reliability\":0,\"avg_error\":0,\"avg_latency\":712,\"source\":\"https://freepublicapis.com/404-error-handler\"},{\"id\":154,\"emoji\":\"\U0001F7E2\",\"title\":\"4chan API\",\"description\":\"4chan's read-only JSON API\",\"documentation\":\"https://github.com/4chan/4chan-API\",\"methods\":3,\"health\":70,\"popularity\":622,\"avg_reliability\":0,\"avg_error\":0,\"avg_latency\":291,\"source\":\"https://freepublicapis.com/4chan-api\"},{\"id\":294,\"emoji\":\"☁️\",\"title\":\"7Timer Weather API\",\"description\":\"The 7Timer Weather API provides [...]
    - id: 4
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/apis?limit=350&sort=best
        method: GET
      response:
        body: "[{\"id\":191,\"emoji\":\"\U0001F30D\",\"title\":\"IP Geolocation & Currency Converter\",\"description\":\"The JSON IP Geolocation API allows you to determine the geographical location of visitors based on their IP addresses. It provides detailed location dat[...]
