---
version: 2
interactions:
    - id: 0
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/random
        method: GET
      response:
        body: "{\"id\":38,\"emoji\":\"\U0001F4C4\",\"title\":\"EmojiHub\",\"description\":\"Get random emojis or access the entire emoji database by category or group. Easily retrieve html codes to use in web applications.\",\"documentation\":\"https://github.com/cheatsnake/emojihub\",\"methods\":3,\"health\":25,\"source\":\"https://freepublicapis.com/emojihub\"}"
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - fra1::iad1::6x2dm-1731867262871-c0c1aa84795e
        status: 200 OK
        code: 200
        duration: 987.952458ms
