---
version: 2
interactions:
    - id: 0
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/random
        method: GET
      response:
        body: "{\"id\":15,\"emoji\":\"\U0001F3F0\",\"title\":\"Disney API\",\"description\":\"GET only API for Disney characters information. No authentication required. Provides endpoints to filter characters, get all characters, and get details about one character. Available in REST and GraphQL. Includes schemas for character data.\",\"documentation\":\"https://disneyapi.dev/docs/\",\"methods\":3,\"health\":76,\"source\":\"https://freepublicapis.com/disney-api\"}"
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - cdg1::iad1::kph4q-1732317940263-e9c5c4a74a77
        status: 200 OK
        code: 200
        duration: 995.687375ms
