---
version: 2
interactions:
    - id: 0
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/random
        method: GET
      response:
        body: "{\"id\":214,\"emoji\":\"\U0001F31F\",\"title\":\"Affirmation Generator API\",\"description\":\"This API provides inspirational affirmations to boost positivity and self-esteem. Users can retrieve random affirmations to enhance their mental wellness and motivation.\",\"documentation\":\"https://www.affirmations.dev/\",\"methods\":1,\"health\":95,\"source\":\"https://freepublicapis.com/affirmation-generator-api\"}"
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - fra1::iad1::xgzwk-1732036270841-58008d6b31e2
        status: 200 OK
        code: 200
        duration: 949.265542ms
