---
version: 2
interactions:
    - id: 0
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/random
        method: GET
      response:
        body: "{\"id\":42,\"emoji\":\"\U0001F0CF\",\"title\":\"Magic: The Gathering\",\"description\":\"Access Magic: The Gathering card and set information through HTTPS endpoints. SDKs available for easier consumption.\",\"documentation\":\"https://api.magicthegathering.io/\",\"methods\":3,\"health\":68,\"source\":\"https://freepublicapis.com/magic-the-gathering\"}"
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - cdg1::iad1::rp5m5-1732667940205-a6a72c8a26a5
        status: 200 OK
        code: 200
        duration: 479.822292ms
    - id: 1
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/apis/275
        method: GET
      response:
        body: "{\"id\":275,\"emoji\":\"\U0001F92F\",\"title\":\"Free Public APIs API\",\"description\":\"FreePublicAPIs now has a free public API! The Free Public APIs API provides up-to-date information on every free public API listed on freepublicapis.com. Perfect for developers, students and hobbyists. It is limited to 1000 requests a day, if you need more, feel free to reach out. Also if you build something with this API, make sure to add it as a showcase project here.\",\"documentation\":\"https://www.freepublicapis.com/api\",\"methods\":3,\"health\":90,\"source\":\"https://freepublicapis.com/api\"}"
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - cdg1::iad1::rp5m5-1732667940629-b9ff4ac8e289
        status: 200 OK
        code: 200
        duration: 238.683542ms
    - id: 2
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/apis?limit=10&sort=best
        method: GET
      response:
        body: "[{\"id\":191,\"emoji\":\"\U0001F30D\",\"title\":\"IP Geolocation & Currency Converter\",\"description\":\"The JSON IP Geolocation API allows you to determine the geographical location of visitors based on their IP addresses. It provides detailed location data such as country, region, city, and coordinates in a structured JSON format.\",\"documentation\":\"https://www.geoplugin.com/webservices/json\",\"methods\":2,\"health\":100,\"popularity\":1808,\"avg_reliability\":100,\"avg_error\":0,\"avg_latency\":46,\"source\":\"https://freepublicapis.com/json-ip-geolocation\"},{\"id\":129,\"emoji\":\"\U0001F30D\",\"title\":\"IP Geolocation API\",\"description\":\"This API allows users to retrieve geolocation information from an IP address or domain name. It provides details such as country, city, region, latitude, longitude, and more in a JSON format without requiring an API key.\",\"documentation\":\"https://ip-api.com/docs/api:json\",\"methods\":2,\"health\":100,\"popularity\":2304,\"avg_reliability\"[...]
