---
version: 2
interactions:
    - id: 0
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/random
        method: GET
      response:
        body: "{\"id\":102,\"emoji\":\"\U0001F579️\",\"title\":\"Flyff Game API\",\"description\":\"All Game Data from Flyff\",\"documentation\":\"https://api.flyff.com/\",\"methods\":4,\"health\":95,\"source\":\"https://freepublicapis.com/flyff-game-api\"}"
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - fra1::iad1::5mw79-1732455896298-abd5d3c5613e
        status: 200 OK
        code: 200
        duration: 596.197333ms
    - id: 1
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/apis/275
        method: GET
      response:
        body: "{\"id\":275,\"emoji\":\"\U0001F92F\",\"title\":\"Free Public APIs API\",\"description\":\"FreePublicAPIs now has a free public API! The Free Public APIs API provides up-to-date information on every free public API listed on freepublicapis.com. Perfect for developers, students and hobbyists. It is limited to 1000 requests a day, if you need more, feel free to reach out. Also if you build something with this API, make sure to add it as a showcase project here.\",\"documentation\":\"https://www.freepublicapis.com/api\",\"methods\":3,\"health\":90,\"source\":\"https://freepublicapis.com/api\"}"
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - fra1::iad1::9prs2-1732455896825-f0df8c3ecbe2
        status: 200 OK
        code: 200
        duration: 495.305625ms
