---
version: 2
interactions:
    - id: 0
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/random
        method: GET
      response:
        body: "{\"id\":253,\"emoji\":\"\U0001F4DA\",\"title\":\"eLife Sciences API\",\"description\":\"The eLife Sciences API provides access to various resources related to scientific articles, annotations, reports, and more. It allows users to retrieve, search, and manage scholarly content, emphasizing open access and public data sharing.\",\"documentation\":\"https://api.elifesciences.org/documentation/\",\"methods\":1,\"health\":66,\"source\":\"https://freepublicapis.com/elife-sciences-api\"}"
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - fra1::iad1::bljjb-1732115477792-a384e3827066
        status: 200 OK
        code: 200
        duration: 1.301777833s
