---
version: 2
interactions:
    - id: 0
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/random
        method: GET
      response:
        body: "{\"id\":227,\"emoji\":\"\U0001F3CE️\",\"title\":\"Kimi Quotes API\",\"description\":\"The Kimi Quotes API provides access to a collection of quotes from Finnish Formula 1 driver Kimi Räikkönen, including team radio snippets and interview quotes. Users can easily retrieve random quotes to share or browse, enhancing the fan experience with memorable lines from the racing legend.\",\"documentation\":\"https://kimiquotes.pages.dev/\",\"methods\":2,\"health\":93,\"source\":\"https://freepublicapis.com/kimi-quotes-api\"}"
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - cdg1::iad1::dqssz-1732748941198-46a3a6509312
        status: 200 OK
        code: 200
        duration: 857.220333ms
    - id: 1
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/apis/275
        method: GET
      response:
        body: "{\"id\":275,\"emoji\":\"\U0001F92F\",\"title\":\"Free Public APIs API\",\"description\":\"FreePublicAPIs now has a free public API! The Free Public APIs API provides up-to-date information on every free public API listed on freepublicapis.com. Perfect for developers, students and hobbyists. It is limited to 1000 requests a day, if you need more, feel free to reach out. Also if you build something with this API, make sure to add it as a showcase project here.\",\"documentation\":\"https://www.freepublicapis.com/api\",\"methods\":3,\"health\":90,\"source\":\"https://freepublicapis.com/api\"}"
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - cdg1::iad1::rnxg7-1732748942026-a17216374314
        status: 200 OK
        code: 200
        duration: 513.531042ms
    - id: 2
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/apis?limit=10&sort=best
        method: GET
      response:
        body: "[{\"id\":191,\"emoji\":\"\U0001F30D\",\"title\":\"IP Geolocation & Currency Converter\",\"description\":\"The JSON IP Geolocation API allows you to determine the geographical location of visitors based on their IP addresses. It provides detailed location data such as country, region, city, and coordinates in a structured JSON format.\",\"documentation\":\"https://www.geoplugin.com/webservices/json\",\"methods\":2,\"health\":100,\"popularity\":1822,\"avg_reliability\":100,\"avg_error\":0,\"avg_latency\":46,\"source\":\"https://freepublicapis.com/json-ip-geolocation\"},{\"id\":129,\"emoji\":\"\U0001F30D\",\"title\":\"IP Geolocation API\",\"description\":\"This API allows users to retrieve geolocation information from an IP address or domain name. It provides details such as country, city, region, latitude, longitude, and more in a JSON format without requiring an API key.\",\"documentation\":\"https://ip-api.com/docs/api:json\",\"methods\":2,\"health\":100,\"popularity\":2319,\"avg_reliability\"[...]
