---
version: 2
interactions:
    - id: 0
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/random
        method: GET
      response:
        body: '{"id":262,"emoji":"⛰️","title":"Open-Elevation API","description":"Open-Elevation is a free and open-source elevation API that provides elevation data for geographical points. Users can easily access elevation information over a broad dataset, offering a reliable alternative to commercial elevation services.","documentation":"https://www.open-elevation.com/","methods":1,"health":87,"source":"https://freepublicapis.com/open-elevation-api"}'
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - fra1::iad1::md45b-1732840397797-c568bf5d7206
        status: 200 OK
        code: 200
        duration: 1.107289792s
    - id: 1
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/apis/275
        method: GET
      response:
        body: "{\"id\":275,\"emoji\":\"\U0001F92F\",\"title\":\"Free Public APIs API\",\"description\":\"FreePublicAPIs now has a free public API! The Free Public APIs API provides up-to-date information on every free public API listed on freepublicapis.com. Perfect for developers, students and hobbyists. It is limited to 1000 requests a day, if you need more, feel free to reach out. Also if you build something with this API, make sure to add it as a showcase project here.\",\"documentation\":\"https://www.freepublicapis.com/api\",\"methods\":3,\"health\":90,\"source\":\"https://freepublicapis.com/api\"}"
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - fra1::iad1::rmw5g-1732840398712-548275ad7aac
        status: 200 OK
        code: 200
        duration: 484.975208ms
    - id: 2
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/apis
        method: GET
      response:
        body: "[{\"id\":220,\"emoji\":\"⚠️\",\"title\":\"404 Error Handler\",\"description\":\"This API is designed to help developers manage and respond to 404 errors on their websites. It provides insights into potential causes and offers solutions for correcting broken links and missing files to improve user experience.\",\"documentation\":\"http://ccdb.hemiola.com/\",\"methods\":1,\"health\":65,\"popularity\":548,\"avg_reliability\":0,\"avg_error\":0,\"avg_latency\":718,\"source\":\"https://freepublicapis.com/404-error-handler\"},{\"id\":154,\"emoji\":\"\U0001F7E2\",\"title\":\"4chan API\",\"description\":\"4chan's read-only JSON API\",\"documentation\":\"https://github.com/4chan/4chan-API\",\"methods\":3,\"health\":70,\"popularity\":620,\"avg_reliability\":0,\"avg_error\":0,\"avg_latency\":300,\"source\":\"https://freepublicapis.com/4chan-api\"},{\"id\":294,\"emoji\":\"☁️\",\"title\":\"7Timer Weather API\",\"description\":\"The 7Timer Weather API provides [...]
    - id: 3
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/apis?limit=0&sort=
        method: GET
      response:
        body: "[{\"id\":220,\"emoji\":\"⚠️\",\"title\":\"404 Error Handler\",\"description\":\"This API is designed to help developers manage and respond to 404 errors on their websites. It provides insights into potential causes and offers solutions for correcting broken links [...]
[...]
    - id: 5
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/apis?limit=100&sort=best
        method: GET
      response:
        body: "[{\"id\":191,\"emoji\":\"\U0001F30D\",\"title\":\"IP Geolocation & Currency Converter\",\"description\":\"The JSON IP Geolocation API allows you to determine the geographical location of visitors based on their IP addresses. It provides detailed location dat[...]
[...]
