---
version: 2
interactions:
    - id: 0
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/random
        method: GET
      response:
        body: "{\"id\":299,\"emoji\":\"\U0001F1E8\U0001F1F4\",\"title\":\"Colombia Public API\",\"description\":\"API-Colombia is a public RESTful API that provides access to a wide range of data about Colombia, including information on departments, regions, and tourist attractions. Users can explore public information without the need for authentication, making it easy to discover diverse aspects of the country.\",\"documentation\":\"https://api-colombia.com/\",\"methods\":2,\"health\":61,\"source\":\"https://freepublicapis.com/colombia-public-api\"}"
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - fra1::iad1::594cg-1732239424542-5aeeeac3743b
        status: 200 OK
        code: 200
        duration: 652.371166ms
