---
version: 2
interactions:
    - id: 0
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/random
        method: GET
      response:
        body: "{\"id\":167,\"emoji\":\"\U0001F575️\",\"title\":\"APIC Agent\",\"description\":\"Free REST API to detect browser, OS, device from user agent string. Provides easy-to-use API to avoid user-agent parsing libraries.\",\"documentation\":\"https://www.apicagent.com/docs\",\"methods\":1,\"health\":90,\"source\":\"https://freepublicapis.com/apic-agent\"}"
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - fra1::iad1::dzpmm-1731890347038-7d3ce061d957
        status: 200 OK
        code: 200
        duration: 1.096879667s
