---
version: 2
interactions:
    - id: 0
      request:
        host: www.freepublicapis.com
        body: ""
        form: {}
        headers: {}
        url: https://www.freepublicapis.com/api/random
        method: GET
      response:
        body: "{\"id\":27,\"emoji\":\"\U0001F17F️\",\"title\":\"Parkhaus Basel API\",\"description\":\"Provides minute-by-minute occupancy data for public parking garages in Basel, Switzerland, sourced from the RSS feed of the Basel parking guidance system.\",\"documentation\":\"https://data.bs.ch/explore/dataset/100088/information/?disjunctive.title&sort=published\",\"methods\":1,\"health\":90,\"source\":\"https://freepublicapis.com/parkhaus-basel-api\"}"
        headers:
            Content-Type:
                - application/json
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - fra1::iad1::wdbcd-1732147174227-f927b9f45882
        status: 200 OK
        code: 200
        duration: 1.0096925s
