{
  "openapi": "3.1.0",
  "info": {
    "title": "Free Public APIs API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.freepublicapis.com/api"
    }
  ],
  "paths": {
    "/random": {
      "get": {
        "operationId": "GetRandom",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SimpleAPIInfoResponse"
          }
        }
      }
    },
    "/apis/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "operationId": "GetAPI",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SimpleAPIInfoResponse"
          }
        }
      }
    },
    "/apis": {
      "parameters": [
        {
          "$ref": "#/components/parameters/limit"
        },
        {
          "$ref": "#/components/parameters/sort"
        }
      ],
      "get": {
        "operationId": "ListApis",
        "responses": {
          "200": {
            "$ref": "#/components/responses/APIInfosResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SimpleAPIInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 38
          },
          "emoji": {
            "type": "string",
            "example": "📄"
          },
          "title": {
            "type": "string",
            "example": "EmojiHub"
          },
          "description": {
            "type": "string",
            "example": "Get random emojis or access the entire emoji database by category or group. Easily retrieve html codes to use in web applications."
          },
          "documentation": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/cheatsnake/emojihub"
          },
          "methods": {
            "type": "integer",
            "example": 3
          },
          "health": {
            "type": "integer",
            "example": 25
          },
          "source": {
            "type": "string",
            "format": "uri",
            "example": "https://freepublicapis.com/emojihub"
          }
        },
        "required": [
          "id",
          "emoji",
          "title",
          "description",
          "documentation",
          "methods",
          "health",
          "source"
        ],
        "example": {
          "id": 38,
          "emoji": "📄",
          "title": "EmojiHub",
          "description": "Get random emojis or access the entire emoji database by category or group. Easily retrieve html codes to use in web applications.",
          "documentation": "https://github.com/cheatsnake/emojihub",
          "methods": 3,
          "health": 25,
          "source": "https://freepublicapis.com/emojihub"
        }
      },
      "APIInfos": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/APIInfo"
        }
      },
      "APIInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 191
          },
          "emoji": {
            "type": "string",
            "example": "🌍"
          },
          "title": {
            "type": "string",
            "example": "IP Geolocation & Currency Converter"
          },
          "description": {
            "type": "string",
            "example": "The JSON IP Geolocation API allows you to determine the geographical location of visitors based on their IP addresses. It provides detailed location data such as country, region, city, and coordinates in a structured JSON format."
          },
          "documentation": {
            "type": "string",
            "format": "uri",
            "example": "https://www.geoplugin.com/webservices/json"
          },
          "methods": {
            "type": "integer",
            "example": 2
          },
          "health": {
            "type": "integer",
            "example": 100
          },
          "popularity": {
            "type": "integer",
            "example": 1822
          },
          "avg_reliability": {
            "type": "integer",
            "example": 100
          },
          "avg_error": {
            "type": "integer",
            "example": 0
          },
          "avg_latency": {
            "type": "integer",
            "example": 46
          },
          "source": {
            "type": "string",
            "format": "uri",
            "example": "https://freepublicapis.com/json-ip-geolocation"
          }
        },
        "required": [
          "id",
          "emoji",
          "title",
          "description",
          "documentation",
          "methods",
          "health",
          "popularity",
          "avg_reliability",
          "avg_error",
          "avg_latency",
          "source"
        ],
        "example": {
          "id": 191,
          "emoji": "🌍",
          "title": "IP Geolocation & Currency Converter",
          "description": "The JSON IP Geolocation API allows you to determine the geographical location of visitors based on their IP addresses. It provides detailed location data such as country, region, city, and coordinates in a structured JSON format.",
          "documentation": "https://www.geoplugin.com/webservices/json",
          "methods": 2,
          "health": 100,
          "popularity": 1822,
          "avg_reliability": 100,
          "avg_error": 0,
          "avg_latency": 46,
          "source": "https://freepublicapis.com/json-ip-geolocation"
        }
      }
    },
    "responses": {
      "SimpleAPIInfoResponse": {
        "description": "Returns simple information about a single API",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SimpleAPIInfo"
            },
            "example": {
              "id": 38,
              "emoji": "📄",
              "title": "EmojiHub",
              "description": "Get random emojis or access the entire emoji database by category or group. Easily retrieve html codes to use in web applications.",
              "documentation": "https://github.com/cheatsnake/emojihub",
              "methods": 3,
              "health": 25,
              "source": "https://freepublicapis.com/emojihub"
            }
          }
        }
      },
      "APIInfosResponse": {
        "description": "Returns a list of API information",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIInfos"
            }
          }
        }
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "example": 275
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "example": 10
        },
        "example": 10
      },
      "sort": {
        "name": "sort",
        "in": "query",
        "schema": {
          "type": "string",
          "example": "best"
        },
        "enum": [],
        "example": "best"
      }
    }
  }
}