{
  "openapi": "3.1.0",
  "info": {
    "title": "Free Public APIs API",
    "description": "FreePublicAPIs now has a free public API! The Free Public APIs API provides up-to-date information on every free public API listed on freepublicapis.com. Perfect for developers, students and hobbyists. It is limited to 1000 requests a day, if you need more, feel free to reach out. Also if you build something with this API, make sure to add it as a showcase project here.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.freepublicapis.com/api"
    }
  ],
  "paths": {
    "/random": {
      "get": {
        "summary": "Get a Random API",
        "operationId": "GetRandom",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SimpleAPIInfoResponse"
          }
        }
      }
    },
    "/apis/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "summary": "Get a Specific API by ID",
        "operationId": "GetAPI",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SimpleAPIInfoResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/apis": {
      "parameters": [
        {
          "$ref": "#/components/parameters/limit"
        },
        {
          "$ref": "#/components/parameters/sort"
        }
      ],
      "get": {
        "summary": "List APIs with Parameters",
        "operationId": "ListApis",
        "responses": {
          "200": {
            "$ref": "#/components/responses/APIInfosResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SimpleAPIInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 38
          },
          "emoji": {
            "type": "string",
            "example": "📄"
          },
          "title": {
            "type": "string",
            "example": "EmojiHub"
          },
          "description": {
            "type": "string",
            "example": "Get random emojis or access the entire emoji database by category or group. Easily retrieve html codes to use in web applications."
          },
          "documentation": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/cheatsnake/emojihub"
          },
          "methods": {
            "type": "integer",
            "example": 3
          },
          "health": {
            "type": "integer",
            "example": 25
          },
          "source": {
            "type": "string",
            "format": "uri",
            "example": "https://freepublicapis.com/emojihub"
          }
        },
        "required": [
          "id",
          "emoji",
          "title",
          "description",
          "documentation",
          "methods",
          "health",
          "source"
        ],
        "example": {
          "id": 38,
          "emoji": "📄",
          "title": "EmojiHub",
          "description": "Get random emojis or access the entire emoji database by category or group. Easily retrieve html codes to use in web applications.",
          "documentation": "https://github.com/cheatsnake/emojihub",
          "methods": 3,
          "health": 25,
          "source": "https://freepublicapis.com/emojihub"
        }
      },
      "APIInfos": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/APIInfo"
        },
        "example": [
          {
            "id": 220,
            "emoji": "⚠️",
            "title": "404 Error Handler",
            "description": "This API is designed to help developers manage and respond to 404 errors on their websites. It provides insights into potential causes and offers solutions for correcting broken links and missing files to improve user experience.",
            "documentation": "http://ccdb.hemiola.com/",
            "methods": 1,
            "health": 65,
            "popularity": 551,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 712,
            "source": "https://freepublicapis.com/404-error-handler"
          },
          {
            "id": 154,
            "emoji": "🟢",
            "title": "4chan API",
            "description": "4chan's read-only JSON API",
            "documentation": "https://github.com/4chan/4chan-API",
            "methods": 3,
            "health": 70,
            "popularity": 622,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 291,
            "source": "https://freepublicapis.com/4chan-api"
          },
          {
            "id": 294,
            "emoji": "☁️",
            "title": "7Timer Weather API",
            "description": "The 7Timer Weather API provides global numerical weather forecasts derived from high-resolution models. Users can access weather data in graphical or machine-readable formats without needing an API key, enabling programmatic access to various meteorological elements.",
            "documentation": "https://www.7timer.info/doc.php?lang=en",
            "methods": 1,
            "health": 95,
            "popularity": 307,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 423,
            "source": "https://freepublicapis.com/7timer-weather-api"
          },
          {
            "id": 378,
            "emoji": "🛠️",
            "title": "API Tools",
            "description": "API Tools – Access over 30+ REST APIs, all completely free with no usage limits. Explore a wide range of tools designed for everyone, no sign-up or restrictions required!",
            "documentation": "https://api.apitools.workers.dev/",
            "methods": 1,
            "health": 30,
            "popularity": 203,
            "avg_reliability": 20,
            "avg_error": 80,
            "avg_latency": 821,
            "source": "https://freepublicapis.com/api-tools"
          },
          {
            "id": 167,
            "emoji": "🕵️",
            "title": "APIC Agent",
            "description": "Free REST API to detect browser, OS, device from user agent string. Provides easy-to-use API to avoid user-agent parsing libraries.",
            "documentation": "https://www.apicagent.com/docs",
            "methods": 1,
            "health": 95,
            "popularity": 137,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 490,
            "source": "https://freepublicapis.com/apic-agent"
          },
          {
            "id": 32,
            "emoji": "🌊",
            "title": "Aare.guru API",
            "description": "Public API for Aare river data including temperature, flow rate, weather forecasts, and more. Non-commercial use allowed with customizable app and version parameters.",
            "documentation": "https://aareguru.existenz.ch/",
            "methods": 4,
            "health": 88,
            "popularity": 512,
            "avg_reliability": 75,
            "avg_error": 0,
            "avg_latency": 180,
            "source": "https://freepublicapis.com/aareguru-api"
          },
          {
            "id": 310,
            "emoji": "🏠",
            "title": "Address Lookup Service",
            "description": "The Address Lookup Service API provides a means for users to retrieve address records based on input address information. Users can submit both GET and POST requests to search for address details using free-text format inputs, facilitating easy access to relevant address data.",
            "documentation": "https://data.gov.hk/en-data/dataset/hk-dpo-als_01-als/resource/210c2cc9-1172-4529-a82b-f10107513e9c",
            "methods": 1,
            "health": 60,
            "popularity": 109,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 1065,
            "source": "https://freepublicapis.com/address-lookup-service"
          },
          {
            "id": 117,
            "emoji": "💬",
            "title": "Advice Slip API",
            "description": "Provides random advice slips, advice by ID, and searching advice functionalities. Includes objects for slip, search, and message.",
            "documentation": "https://api.adviceslip.com/",
            "methods": 2,
            "health": 95,
            "popularity": 464,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 305,
            "source": "https://freepublicapis.com/advice-slip-api"
          },
          {
            "id": 350,
            "emoji": "💡",
            "title": "Advice Slip API",
            "description": "This API provides random pieces of advice to users, enabling them to receive thoughtful suggestions on various topics. Users can easily retrieve advice slips in a straightforward manner through simple API calls.",
            "documentation": "https://api.adviceslip.com/advice/search/try1",
            "methods": 1,
            "health": 95,
            "popularity": 125,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 348,
            "source": "https://freepublicapis.com/advice-slip-api-2"
          },
          {
            "id": 214,
            "emoji": "🌟",
            "title": "Affirmation Generator API",
            "description": "This API provides inspirational affirmations to boost positivity and self-esteem. Users can retrieve random affirmations to enhance their mental wellness and motivation.",
            "documentation": "https://www.affirmations.dev/",
            "methods": 1,
            "health": 95,
            "popularity": 599,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 361,
            "source": "https://freepublicapis.com/affirmation-generator-api"
          },
          {
            "id": 34,
            "emoji": "🌎",
            "title": "Agify.io",
            "description": "Estimate age from names. Integrate age inference directly into workflows and perform efficient inference on big datasets with simple APIs. Enrich data with demographic insights.",
            "documentation": "https://agify.io/",
            "methods": 1,
            "health": 90,
            "popularity": 638,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 584,
            "source": "https://freepublicapis.com/agifyio"
          },
          {
            "id": 121,
            "emoji": "🌱",
            "title": "Air Quality API",
            "description": "Pollutants and pollen forecast in 11 km resolution",
            "documentation": "https://open-meteo.com/en/docs/air-quality-api",
            "methods": 1,
            "health": 95,
            "popularity": 1692,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 229,
            "source": "https://freepublicapis.com/air-quality-api"
          },
          {
            "id": 339,
            "emoji": "💬",
            "title": "Alan Perlis Quotes",
            "description": "This API provides random epigrams by Alan Perlis, a notable figure in computer science. Users can programmatically access a variety of his thought-provoking quotes to enhance their applications or for inspiration.",
            "documentation": "https://perl.is/",
            "methods": 1,
            "health": 95,
            "popularity": 151,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 338,
            "source": "https://freepublicapis.com/alan-perlis-quotes"
          },
          {
            "id": 175,
            "emoji": "🎮",
            "title": "AmiiboAPI",
            "description": "A RESTful API for Amiibo providing information on different amiibos, types, game series, characters, and more. It is primarily used for educational purposes and allows reading-only access with no authentication required.",
            "documentation": "https://amiiboapi.com/docs/",
            "methods": 1,
            "health": 60,
            "popularity": 72,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 1010,
            "source": "https://freepublicapis.com/amiiboapi"
          },
          {
            "id": 160,
            "emoji": "🔥",
            "title": "AnApiOfIceAndFire",
            "description": "API providing data from the universe of Ice and Fire (Game of Thrones) including characters, houses, and books. Open source and accessible through HTTP with SDKs available in multiple languages.",
            "documentation": "https://anapioficeandfire.com/",
            "methods": 2,
            "health": 95,
            "popularity": 84,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 265,
            "source": "https://freepublicapis.com/anapioficeandfire"
          },
          {
            "id": 274,
            "emoji": "📚",
            "title": "Answerbook API",
            "description": "The Answerbook API provides access to a collection of random answers and features, such as a random password generator and Tang poetry retrieval. It can be deployed on Cloudflare Workers, making it adaptable for various applications.",
            "documentation": "https://github.com/tbdavid2019/answerbook-api",
            "methods": 1,
            "health": 95,
            "popularity": 266,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 316,
            "source": "https://freepublicapis.com/answerbook-api"
          },
          {
            "id": 341,
            "emoji": "🐟",
            "title": "Anti-Phishing Detection",
            "description": "FishFish is an automated service designed to quickly detect and mitigate phishing threats before they can be exploited for malicious purposes. It provides a streamlined solution for identifying harmful resources efficiently.",
            "documentation": "https://fishfish.gg/",
            "methods": 2,
            "health": 77,
            "popularity": 92,
            "avg_reliability": 50,
            "avg_error": 0,
            "avg_latency": 806,
            "source": "https://freepublicapis.com/anti-phishing-detection"
          },
          {
            "id": 151,
            "emoji": "💼",
            "title": "Arbeitnow",
            "description": "Arbeitnow helps companies hire candidates with visa sponsorship / four day work week / remote opportunities.",
            "documentation": "https://documenter.getpostman.com/view/18545278/UVJbJdKh",
            "methods": 1,
            "health": 70,
            "popularity": 162,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 419,
            "source": "https://freepublicapis.com/arbeitnow"
          },
          {
            "id": 263,
            "emoji": "🗺️",
            "title": "ArcGIS Hub - World Countries Generalized",
            "description": "The World Countries Generalized layer provides a simplified representation of global country boundaries, optimized for performance and visibility at broader scales (1:5,000,000 and beyond). Developed by Esri using data from Garmin International, the CIA World Factbook, and the National Geographic Society, this layer is updated annually to reflect changes in country names and significant borders. Ideal for applications requiring an authoritative, generalized world basemap.",
            "documentation": "https://hub.arcgis.com/datasets/2b93b06dc0dc4e809d3c8db5cb96ba69_0/about",
            "methods": 2,
            "health": 60,
            "popularity": 86,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 1427,
            "source": "https://freepublicapis.com/arcgis-hub-world-countries-generalized"
          },
          {
            "id": 352,
            "emoji": "🇦🇷",
            "title": "ArgentinaDatos API",
            "description": "This API provides up-to-date information on various data points from Argentina, including historical exchange rates, financial indices, and public holidays. It enables users to access data in a RESTful manner, making it a valuable resource for developers and analysts interested in Argentine data.",
            "documentation": "https://argentinadatos.com/",
            "methods": 1,
            "health": 95,
            "popularity": 22,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 261,
            "source": "https://freepublicapis.com/argentinadatos-api"
          },
          {
            "id": 336,
            "emoji": "💱",
            "title": "ArgentoFX API",
            "description": "API RESTful to obtain live quotations of foreign currencies in Argentina. It provides endpoints for various types of dollar quotes, as well as other currencies.",
            "documentation": "https://fastapiproject-1-eziw.onrender.com/docs",
            "methods": 1,
            "health": 84,
            "popularity": 72,
            "avg_reliability": 89,
            "avg_error": 6,
            "avg_latency": 646,
            "source": "https://freepublicapis.com/argentofx-api"
          },
          {
            "id": 97,
            "emoji": "🎨",
            "title": "Art Institute of Chicago API",
            "description": "The Art Institute of Chicago's API allows developers to explore and integrate the museum’s public data into their projects. This API is the same tool that powers the website, the mobile app, and many other technologies in the museum.",
            "documentation": "https://api.artic.edu/docs/",
            "methods": 3,
            "health": 67,
            "popularity": 251,
            "avg_reliability": 50,
            "avg_error": 20,
            "avg_latency": 768,
            "source": "https://freepublicapis.com/art-institute-of-chicago-api"
          },
          {
            "id": 168,
            "emoji": "🌐",
            "title": "Arul's IP API",
            "description": "Get your IP Address using this API",
            "documentation": "https://aruljohn.com/api/",
            "methods": 1,
            "health": 95,
            "popularity": 216,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 460,
            "source": "https://freepublicapis.com/aruls-ip-api"
          },
          {
            "id": 318,
            "emoji": "🎮",
            "title": "Attack on Titan API",
            "description": "A RESTful API that provides access to a wide range of data related to the popular anime and manga series 'Attack on Titan'. Users can retrieve information about characters, episodes, locations, organizations, and titans, making it a valuable resource for fans and developers alike.",
            "documentation": "https://www.attackontitanapi.com/",
            "methods": 6,
            "health": 81,
            "popularity": 229,
            "avg_reliability": 66,
            "avg_error": 0,
            "avg_latency": 699,
            "source": "https://freepublicapis.com/attack-on-titan-api"
          },
          {
            "id": 83,
            "emoji": "🛣️",
            "title": "Autobahn API (DE)",
            "description": "OpenAPI Documentation for Autobahn GmbH's Autobahn API.",
            "documentation": "https://autobahn.api.bund.dev/",
            "methods": 3,
            "health": 78,
            "popularity": 460,
            "avg_reliability": 32,
            "avg_error": 0,
            "avg_latency": 283,
            "source": "https://freepublicapis.com/autobahn-api-de"
          },
          {
            "id": 115,
            "emoji": "🚀",
            "title": "Avatar",
            "description": "If you are an Avatar fan, then this api is for you. Here you can find everything from Episodes to Characters to Trivia Questions and more.",
            "documentation": "https://sampleapis.com/api-list/avatar",
            "methods": 3,
            "health": 72,
            "popularity": 413,
            "avg_reliability": 33,
            "avg_error": 1,
            "avg_latency": 514,
            "source": "https://freepublicapis.com/avatar"
          },
          {
            "id": 295,
            "emoji": "✈️",
            "title": "AviationWeather Data API",
            "description": "This API provides machine-to-machine access to aviation weather data, including METARs, TAFs, AIRMETs, and SIGMETs. It enables users to fetch up-to-date weather information for flight planning and operations. The service allows queries for the past 15 days of data and provides cache options for efficient data retrieval.",
            "documentation": "https://aviationweather.gov/data/api/",
            "methods": 1,
            "health": 65,
            "popularity": 160,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 880,
            "source": "https://freepublicapis.com/aviationweather-data-api"
          },
          {
            "id": 386,
            "emoji": "🔰",
            "title": "BIZ FACTORY",
            "description": "BIZ FACTORY is a Telegram group dedicated to sharing paid methods, APIs, tricks, scripts, and coding resources. Members can access various premium tools and information for free. Join to enhance your skills and discover valuable resources.",
            "documentation": "https://t.me/+NaATB64x9z4zNTZl",
            "methods": 1,
            "health": 80,
            "popularity": 21,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 2526,
            "source": "https://freepublicapis.com/biz-factory"
          },
          {
            "id": 286,
            "emoji": "🥓",
            "title": "Bacon Ipsum API",
            "description": "The Bacon Ipsum JSON API is a REST interface for generating meaty lorem ipsum text that can be utilized by any application. Users can specify parameters such as type of text, number of paragraphs, and format to get tailored responses.",
            "documentation": "https://baconipsum.com/json-api/",
            "methods": 2,
            "health": 90,
            "popularity": 109,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 606,
            "source": "https://freepublicapis.com/bacon-ipsum-api"
          },
          {
            "id": 110,
            "emoji": "📊",
            "title": "Berufsbildung Daten Exporte",
            "description": "API zur Exportierung von Daten zu Lehrverträgen und Abschlüssen der Berufsbildung seit 2017, einschließlich Anzahl der Lehrverträge, neu registrierten Lehrverträgen und Abschlüssen der Qualifikationsverfahren nach Ausbildungsfeldern.",
            "documentation": "https://data.tg.ch/explore/dataset/dek-abb-1/information/",
            "methods": 2,
            "health": 82,
            "popularity": 85,
            "avg_reliability": 50,
            "avg_error": 0,
            "avg_latency": 334,
            "source": "https://freepublicapis.com/berufsbildung-daten-exporte"
          },
          {
            "id": 384,
            "emoji": "🔑",
            "title": "BluTV Authentication API",
            "description": "This API handles user authentication for BluTV, allowing users to log in with their credentials or via social media accounts like Facebook and Google. It also provides functionality for password recovery and user registration, enhancing security and user experience.",
            "documentation": "https://www.blutv.com/int/giris",
            "methods": 2,
            "health": 26,
            "popularity": 14,
            "avg_reliability": 5,
            "avg_error": 100,
            "avg_latency": 0,
            "source": "https://freepublicapis.com/blutv-authentication-api"
          },
          {
            "id": 234,
            "emoji": "🎮",
            "title": "BoneQuest API",
            "description": "The BoneQuest API provides access to episode data, allowing users to fetch details about episodes, including dialogue and metadata. It returns structured JSON responses for easy integration and use by developers.",
            "documentation": "https://github.com/bonequest/api",
            "methods": 1,
            "health": 90,
            "popularity": 70,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 720,
            "source": "https://freepublicapis.com/bonequest-api"
          },
          {
            "id": 41,
            "emoji": "🎲",
            "title": "Bored API",
            "description": "Get random activities based on type, participants, price, and accessibility ranges.",
            "documentation": "https://www.boredapi.com/api/",
            "methods": 3,
            "health": 25,
            "popularity": 1115,
            "avg_reliability": 0,
            "avg_error": 100,
            "avg_latency": 0,
            "source": "https://freepublicapis.com/bored-api"
          },
          {
            "id": 200,
            "emoji": "🇧🇷",
            "title": "Brasil API",
            "description": "Acesso programático de informações relacionadas a CEPs, bancos, CNPJ, IBGE, feriados nacionais, tabela FIPE e muito mais, fornecendo endpoints modernos com baixa latência. Este projeto busca centralizar dados públicos para uma fácil e rápida consulta em aplicações.",
            "documentation": "https://brasilapi.com.br/docs",
            "methods": 1,
            "health": 95,
            "popularity": 155,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 314,
            "source": "https://freepublicapis.com/brasil-api"
          },
          {
            "id": 123,
            "emoji": "💎",
            "title": "Breaking Bad Quotes",
            "description": "A free API to retrieve quotes from Breaking Bad.",
            "documentation": "https://breakingbadquotes.xyz/",
            "methods": 2,
            "health": 95,
            "popularity": 320,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 310,
            "source": "https://freepublicapis.com/breaking-bad-quotes"
          },
          {
            "id": 323,
            "emoji": "🧘‍♂️",
            "title": "Buddha Quotes API",
            "description": "This API provides access to a collection of inspirational quotes from Buddhist figures including Buddha, Dogen, and Thich Nhat Hanh. Users can retrieve random quotes as well as specific quotes for today, making it a resource for daily wisdom and reflection.",
            "documentation": "https://buddha-api.com/",
            "methods": 1,
            "health": 95,
            "popularity": 311,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 303,
            "source": "https://freepublicapis.com/buddha-quotes-api"
          },
          {
            "id": 142,
            "emoji": "😺",
            "title": "CATAAS API",
            "description": "A REST API to spread peace and love (or not) thanks to cats. Provides various endpoints to get random cats, cats with specific tags, cat gifs, and more. Also allows customization of cat images and retrieving cat data in JSON format.",
            "documentation": "https://cataas.com/",
            "methods": 2,
            "health": 89,
            "popularity": 526,
            "avg_reliability": 78,
            "avg_error": 0,
            "avg_latency": 247,
            "source": "https://freepublicapis.com/cataas-api"
          },
          {
            "id": 347,
            "emoji": "🚗",
            "title": "CEPiK API",
            "description": "The CEPiK API provides access to various datasets related to vehicles, driving licenses, permissions to drive vehicles, and statistical information about these entities. It includes methods for retrieving data about vehicles, driving licenses, permissions, and associated statistics from the national database.",
            "documentation": "https://api.cepik.gov.pl/doc",
            "methods": 1,
            "health": 25,
            "popularity": 56,
            "avg_reliability": 0,
            "avg_error": 100,
            "avg_latency": 0,
            "source": "https://freepublicapis.com/cepik-api"
          },
          {
            "id": 223,
            "emoji": "📖",
            "title": "CTP API",
            "description": "The CTP API provides integration methods for connecting the functionality and content of the Chinese Text Project with external web applications. It consists of a Plugin API for adding external tools and a JSON API for leveraging CTP features externally.",
            "documentation": "https://ctext.org/tools/api",
            "methods": 1,
            "health": 60,
            "popularity": 47,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 1825,
            "source": "https://freepublicapis.com/ctp-api"
          },
          {
            "id": 238,
            "emoji": "🔍",
            "title": "CVEDB API",
            "description": "The CVEDB API provides a quick and efficient way to look up information about vulnerabilities associated with specific CVE-IDs or CPE23 strings. It allows users to access detailed data on vulnerabilities, including summaries, scores, and references to further resources.",
            "documentation": "https://cvedb.shodan.io/",
            "methods": 1,
            "health": 94,
            "popularity": 111,
            "avg_reliability": 99,
            "avg_error": 0,
            "avg_latency": 336,
            "source": "https://freepublicapis.com/cvedb-api"
          },
          {
            "id": 94,
            "emoji": "🌍",
            "title": "Carbon Intensity API",
            "description": "Official API for Carbon Intensity in Great Britain provided by National Grid. Allows access to current and historical carbon intensity data for different regions and time periods.",
            "documentation": "https://api.carbonintensity.org.uk/",
            "methods": 4,
            "health": 94,
            "popularity": 156,
            "avg_reliability": 99,
            "avg_error": 0,
            "avg_latency": 413,
            "source": "https://freepublicapis.com/carbon-intensity-api"
          },
          {
            "id": 116,
            "emoji": "🚀",
            "title": "Cartoons",
            "description": "If cartoons is what you like then boy do we have a full list of all the cartoons from the past and present and all their details including a amazingly sourced image to showcase",
            "documentation": "https://sampleapis.com/api-list/cartoons",
            "methods": 2,
            "health": 94,
            "popularity": 610,
            "avg_reliability": 99,
            "avg_error": 0,
            "avg_latency": 428,
            "source": "https://freepublicapis.com/cartoons"
          },
          {
            "id": 2,
            "emoji": "😽",
            "title": "Cat Fact API",
            "description": "An API that shows different Cat Facts!",
            "documentation": "https://alexwohlbruck.github.io/cat-facts/docs/",
            "methods": 1,
            "health": 89,
            "popularity": 418,
            "avg_reliability": 98,
            "avg_error": 0,
            "avg_latency": 538,
            "source": "https://freepublicapis.com/cat-fact-api"
          },
          {
            "id": 366,
            "emoji": "🚀",
            "title": "CelesTrak GP Data",
            "description": "CelesTrak provides access to General Perturbations (GP) orbital data, including Two-Line Element Sets (TLEs) and newer formats like XML and JSON. This data is crucial for tracking objects in space and supports various queries to retrieve specific orbital information based on catalog numbers, designators, and names.",
            "documentation": "https://celestrak.org/NORAD/documentation/gp-data-formats.php",
            "methods": 1,
            "health": 65,
            "popularity": 4,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 872,
            "source": "https://freepublicapis.com/celestrak-gp-data"
          },
          {
            "id": 177,
            "emoji": "💲",
            "title": "CheapShark API",
            "description": "CheapShark is a price comparison website for digital PC Games, tracking prices across multiple stores including Steam, GreenManGaming, and Fanatical. The API provides developers with access to CheapShark pricing data to integrate into their own applications or websites.",
            "documentation": "https://apidocs.cheapshark.com/",
            "methods": 2,
            "health": 65,
            "popularity": 87,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 557,
            "source": "https://freepublicapis.com/cheapshark-api"
          },
          {
            "id": 303,
            "emoji": "🔍",
            "title": "Check e-mail or username for a data breach",
            "description": "LeakCheck is a service that enables users and companies to ascertain whether their credentials have been compromised. By utilising this API, users can ascertain whether their email address or username has been involved in any data breach.",
            "documentation": "https://wiki.leakcheck.io/en/api/public",
            "methods": 1,
            "health": 90,
            "popularity": 601,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 515,
            "source": "https://freepublicapis.com/check-e-mail-or-username-for-a-data-breach"
          },
          {
            "id": 249,
            "emoji": "🇨🇳",
            "title": "Chinese Holiday Calendar",
            "description": "This API provides a comprehensive listing of public holidays in China for the year 2024. It includes the date, name of the holiday, and whether it is an off day or not.",
            "documentation": "https://api.jiejiariapi.com/v1/holidays/2024",
            "methods": 1,
            "health": 95,
            "popularity": 193,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 309,
            "source": "https://freepublicapis.com/chinese-holiday-calendar"
          },
          {
            "id": 315,
            "emoji": "🏥",
            "title": "Chinese Medicine Clinics",
            "description": "This API provides access to the attendance data of Chinese medicine clinics and training and research centers. Users can access datasets including annual attendances categorized by languages such as English, Traditional Chinese, and Simplified Chinese.",
            "documentation": "https://data.gov.hk/en-data/dataset/hospital-hadata-service-cmctr",
            "methods": 3,
            "health": 85,
            "popularity": 21,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 1093,
            "source": "https://freepublicapis.com/chinese-medicine-clinics"
          },
          {
            "id": 59,
            "emoji": "🤣",
            "title": "Chuck Norris Jokes API",
            "description": "A free JSON API for hand curated Chuck Norris facts, including random jokes and categories. Also offers Slack integration and Facebook Messenger support.",
            "documentation": "https://api.chucknorris.io/",
            "methods": 3,
            "health": 94,
            "popularity": 167,
            "avg_reliability": 99,
            "avg_error": 0,
            "avg_latency": 397,
            "source": "https://freepublicapis.com/chuck-norris-jokes-api"
          },
          {
            "id": 321,
            "emoji": "📅",
            "title": "Church Calendar API",
            "description": "The Church Calendar API provides access to calendar data for any day, allowing users to retrieve various liturgical celebrations and details. It supports multiple languages and enables specific queries for feast names and calendar descriptions based on the selected calendar system.",
            "documentation": "http://calapi.inadiutorium.cz/api-doc",
            "methods": 2,
            "health": 98,
            "popularity": 341,
            "avg_reliability": 93,
            "avg_error": 0,
            "avg_latency": 47,
            "source": "https://freepublicapis.com/church-calendar-api"
          },
          {
            "id": 131,
            "emoji": "🚲",
            "title": "CityBikes API",
            "description": "API for accessing CityBikes data including network information, station details, and field filtering.",
            "documentation": "https://api.citybik.es/v2/",
            "methods": 2,
            "health": 70,
            "popularity": 329,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 140,
            "source": "https://freepublicapis.com/citybikes-api"
          },
          {
            "id": 106,
            "emoji": "⚙️",
            "title": "Civitai API",
            "description": "REST API for accessing Civitai creators, images, models, model versions, and tags. Provides endpoints for retrieving specific resources like models by ID or model versions by hash.",
            "documentation": "https://developer.civitai.com/docs/api/public-rest",
            "methods": 2,
            "health": 65,
            "popularity": 58,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 825,
            "source": "https://freepublicapis.com/civitai-api"
          },
          {
            "id": 14,
            "emoji": "🍹",
            "title": "Cocktail Recipe API",
            "description": "Provides access to a free cocktail recipe API with various endpoints for searching cocktails, ingredients, and more. Supports JSON format.",
            "documentation": "https://www.thecocktaildb.com/api.php",
            "methods": 3,
            "health": 86,
            "popularity": 841,
            "avg_reliability": 66,
            "avg_error": 0,
            "avg_latency": 300,
            "source": "https://freepublicapis.com/cocktail-recipe-api"
          },
          {
            "id": 114,
            "emoji": "☕️",
            "title": "Coffee",
            "description": "Basic list of descriptions and ingredients for popular coffee drinks",
            "documentation": "https://sampleapis.com/api-list/coffee",
            "methods": 2,
            "health": 94,
            "popularity": 876,
            "avg_reliability": 98,
            "avg_error": 0,
            "avg_latency": 405,
            "source": "https://freepublicapis.com/coffee"
          },
          {
            "id": 113,
            "emoji": "☕",
            "title": "Coffee API",
            "description": "Start your day with a lovely coffee~ Provides access to a collection of 1257 coffee images. Users can request a random coffee image in JSON format.",
            "documentation": "https://coffee.alexflipnote.dev/",
            "methods": 1,
            "health": 95,
            "popularity": 527,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 325,
            "source": "https://freepublicapis.com/coffee-api"
          },
          {
            "id": 35,
            "emoji": "💰",
            "title": "CoinGecko API",
            "description": "Powerful API for cryptocurrency data including real-time prices, market data, NFT base prices, trading volume, trading pairs, metadata, historical data, and more. Trusted by thousands of developers in the industry.",
            "documentation": "https://www.coingecko.com/de/api",
            "methods": 2,
            "health": 82,
            "popularity": 526,
            "avg_reliability": 50,
            "avg_error": 0,
            "avg_latency": 408,
            "source": "https://freepublicapis.com/coingecko-api"
          },
          {
            "id": 71,
            "emoji": "💰",
            "title": "Coinpaprika API",
            "description": "Provides cryptocurrency market data including prices, market cap, volume, and more. Access historical data and real-time updates.",
            "documentation": "https://api.coinpaprika.com/#section/Introduction",
            "methods": 2,
            "health": 82,
            "popularity": 325,
            "avg_reliability": 50,
            "avg_error": 0,
            "avg_latency": 235,
            "source": "https://freepublicapis.com/coinpaprika-api"
          },
          {
            "id": 299,
            "emoji": "🇨🇴",
            "title": "Colombia Public API",
            "description": "API-Colombia is a public RESTful API that provides access to a wide range of data about Colombia, including information on departments, regions, and tourist attractions. Users can explore public information without the need for authentication, making it easy to discover diverse aspects of the country.",
            "documentation": "https://api-colombia.com/",
            "methods": 2,
            "health": 59,
            "popularity": 10,
            "avg_reliability": 0,
            "avg_error": 1,
            "avg_latency": 1105,
            "source": "https://freepublicapis.com/colombia-public-api"
          },
          {
            "id": 201,
            "emoji": "📊",
            "title": "Colorado Information Marketplace",
            "description": "Explore a wide range of public datasets and resources from the Colorado Information Marketplace, including information on government revenue and expenditures, transportation, demographics, business, and more. Access charts, maps, datasets, and documents to gain insights into various aspects of life in Colorado. A valuable tool for researchers, businesses, and the general public seeking data-driven insights.",
            "documentation": "https://data.colorado.gov/browse",
            "methods": 1,
            "health": 65,
            "popularity": 22,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 879,
            "source": "https://freepublicapis.com/colorado-information-marketplace"
          },
          {
            "id": 382,
            "emoji": "📊",
            "title": "Company Enrich API",
            "description": "The Company Enrich API provides businesses with enriched, actionable insights about companies. It offers endpoints for company enrichment, search, and discovering similar companies, enabling users to make data-driven decisions and streamline their prospecting efforts.",
            "documentation": "https://docs.companyenrich.com",
            "methods": 1,
            "health": 59,
            "popularity": 12,
            "avg_reliability": 95,
            "avg_error": 68,
            "avg_latency": 312,
            "source": "https://freepublicapis.com/company-enrich-api"
          },
          {
            "id": 298,
            "emoji": "🌦️",
            "title": "Console Weather Forecast",
            "description": "wttr.in is a console-oriented weather forecast service that supports various information representation methods like terminal-oriented ANSI-sequences for console HTTP clients (curl, httpie, or wget), HTML for web browsers, or PNG for graphical viewers.",
            "documentation": "https://github.com/chubin/wttr.in",
            "methods": 1,
            "health": 55,
            "popularity": 86,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 2262,
            "source": "https://freepublicapis.com/console-weather-forecast"
          },
          {
            "id": 45,
            "emoji": "⚙️",
            "title": "Corporate Bullshit Generator",
            "description": "This API generates random corporate bullshit phrases that can be used in applications to mimic business jargon. It adds a humorous touch to the often vague and buzzword-filled corporate world. CORS enabled.",
            "documentation": "https://github.com/sameerkumar18/corporate-bs-generator-api",
            "methods": 1,
            "health": 95,
            "popularity": 1224,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 486,
            "source": "https://freepublicapis.com/corporate-bullshit-generator"
          },
          {
            "id": 276,
            "emoji": "🏙️",
            "title": "Countries & Cities API",
            "description": "Provides population and geographical data for countries and cities. Use it to get detailed information on populations, locations, flags, currencies, capitals, and more. Access endpoints to retrieve single city data, country codes, and other related details. No API key required.",
            "documentation": "https://documenter.getpostman.com/view/1134062/T1LJjU52",
            "methods": 1,
            "health": 65,
            "popularity": 553,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 767,
            "source": "https://freepublicapis.com/countries-and-cities"
          },
          {
            "id": 372,
            "emoji": "⚔️",
            "title": "Crisis Core Fusion API",
            "description": "This API simulates the fusion of materia from the game 'Crisis Core: Final Fantasy VII'. It provides endpoints to input materia types and retrieves possible fusion outcomes based on complex rules governing the game's mechanics.",
            "documentation": "https://github.com/RayMathew/crisis-core-materia-fusion-api/",
            "methods": 3,
            "health": 76,
            "popularity": 12,
            "avg_reliability": 66,
            "avg_error": 0,
            "avg_latency": 1530,
            "source": "https://freepublicapis.com/crisis-core-fusion-api"
          },
          {
            "id": 232,
            "emoji": "📚",
            "title": "Crossref REST API",
            "description": "The Crossref REST API allows users to search and retrieve metadata for scholarly works, including DOIs, ISSNs, and funder identifiers. It provides access to various endpoints that expose data on works, journals, funders, and more, facilitating sophisticated searches and integrations for research purposes.",
            "documentation": "http://api.crossref.org/swagger-ui/index.html",
            "methods": 1,
            "health": 95,
            "popularity": 134,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 457,
            "source": "https://freepublicapis.com/crossref-rest-api"
          },
          {
            "id": 179,
            "emoji": "🗡️",
            "title": "Data Dragon API",
            "description": "Data Dragon is a static data API providing information and images related to champions, runes, and items in League of Legends. It allows developers to access and download data files, enabling them to integrate game-related information into their applications.",
            "documentation": "https://riot-api-libraries.readthedocs.io/en/latest/ddragon.html",
            "methods": 1,
            "health": 70,
            "popularity": 190,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 416,
            "source": "https://freepublicapis.com/data-dragon-api"
          },
          {
            "id": 68,
            "emoji": "📊",
            "title": "Data USA",
            "description": "Browse 47,000+ automated reports, view aggregated data, merge and download data, compare reports",
            "documentation": "https://datausa.io/",
            "methods": 1,
            "health": 95,
            "popularity": 1787,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 187,
            "source": "https://freepublicapis.com/data-usa"
          },
          {
            "id": 74,
            "emoji": "📊",
            "title": "Data.gov CKAN API",
            "description": "Provides metadata about datasets in the data.gov catalog powered by CKAN, including URLs and descriptions, but not the actual data within each dataset.",
            "documentation": "https://data.gov/developers/apis/",
            "methods": 2,
            "health": 74,
            "popularity": 27,
            "avg_reliability": 46,
            "avg_error": 4,
            "avg_latency": 916,
            "source": "https://freepublicapis.com/datagov-ckan-api"
          },
          {
            "id": 202,
            "emoji": "📊",
            "title": "Data.gov.au API",
            "description": "The Data.gov.au API provides programmatic access to datasets published by the Australian government. It allows users to search, filter, and retrieve detailed information about datasets, including metadata and download options.",
            "documentation": "https://data.gov.au/",
            "methods": 1,
            "health": 60,
            "popularity": 70,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 1450,
            "source": "https://freepublicapis.com/data.gov.au-api"
          },
          {
            "id": 224,
            "emoji": "🔍",
            "title": "Datamuse API",
            "description": "The Datamuse API is a powerful word-finding query engine designed for developers. It enables applications to find words that match various constraints regarding meaning, spelling, sound, and context, making it versatile for many linguistic applications.",
            "documentation": "https://www.datamuse.com/api/",
            "methods": 3,
            "health": 90,
            "popularity": 227,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 563,
            "source": "https://freepublicapis.com/datamuse-api"
          },
          {
            "id": 58,
            "emoji": "🃏",
            "title": "Deck of Cards",
            "description": "An API for playing cards. Allows users to shuffle, draw, reshuffle, create a new deck, use a partial deck, add to piles, shuffle piles, list cards in piles, draw from piles, and return cards to the deck.",
            "documentation": "https://www.deckofcardsapi.com/",
            "methods": 3,
            "health": 89,
            "popularity": 681,
            "avg_reliability": 96,
            "avg_error": 0,
            "avg_latency": 599,
            "source": "https://freepublicapis.com/deck-of-cards"
          },
          {
            "id": 353,
            "emoji": "🗳",
            "title": "Dedline API",
            "description": "A static API that provides information about US election registration deadlines. It includes endpoints for accessing data on all states, state-specific information, and details about online registration availability.",
            "documentation": "https://github.com/dedline-io/dedline-api?tab=readme-ov-file",
            "methods": 4,
            "health": 83,
            "popularity": 30,
            "avg_reliability": 73,
            "avg_error": 0,
            "avg_latency": 658,
            "source": "https://freepublicapis.com/dedline-api"
          },
          {
            "id": 326,
            "emoji": "👺",
            "title": "Demon Slayer API",
            "description": "The Demon Slayer API provides developers with structured data related to the popular anime series, including character details, combat styles, and affiliations. It allows users to access information about characters, such as their age, gender, abilities, and memorable quotes, enhancing the experience for fans and developers alike.",
            "documentation": "https://www.demonslayer-api.com/",
            "methods": 2,
            "health": 85,
            "popularity": 568,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 1935,
            "source": "https://freepublicapis.com/demon-slayer-api"
          },
          {
            "id": 215,
            "emoji": "💡",
            "title": "Dictum API",
            "description": "This API provides access to a collection of inspiring expressions gathered throughout history. It enables users to retrieve quotes from various categories and authors, fostering motivation and reflection.",
            "documentation": "https://github.com/fisenkodv/dictum",
            "methods": 1,
            "health": 25,
            "popularity": 70,
            "avg_reliability": 0,
            "avg_error": 100,
            "avg_latency": 0,
            "source": "https://freepublicapis.com/dictum-api"
          },
          {
            "id": 77,
            "emoji": "🦊",
            "title": "Digimon API",
            "description": "Free Digimon API using data from official and fan-based sources like Wikimon.net. Not affiliated with Bandai.",
            "documentation": "https://digi-api.com/#docs",
            "methods": 2,
            "health": 82,
            "popularity": 411,
            "avg_reliability": 50,
            "avg_error": 0,
            "avg_latency": 312,
            "source": "https://freepublicapis.com/digimon-api"
          },
          {
            "id": 15,
            "emoji": "🏰",
            "title": "Disney API",
            "description": "GET only API for Disney characters information. No authentication required. Provides endpoints to filter characters, get all characters, and get details about one character. Available in REST and GraphQL. Includes schemas for character data.",
            "documentation": "https://disneyapi.dev/docs/",
            "methods": 3,
            "health": 76,
            "popularity": 421,
            "avg_reliability": 66,
            "avg_error": 0,
            "avg_latency": 1289,
            "source": "https://freepublicapis.com/disney-api"
          },
          {
            "id": 101,
            "emoji": "🐕",
            "title": "Dog API",
            "description": "The internet's biggest collection of open source dog pictures. Over 20,000 images of dogs accessible by over 120 breeds. Programmatic access to dog images.",
            "documentation": "https://dog.ceo/dog-api/",
            "methods": 3,
            "health": 95,
            "popularity": 485,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 315,
            "source": "https://freepublicapis.com/dog-api"
          },
          {
            "id": 325,
            "emoji": "🐉",
            "title": "Dragon Ball API",
            "description": "The Dragon Ball API provides comprehensive information about characters, transformations, power stats, planets, and locations from the Dragon Ball universe. It allows users to retrieve data through various endpoints for easy integration into applications or services.",
            "documentation": "https://web.dragonball-api.com/documentation",
            "methods": 2,
            "health": 95,
            "popularity": 692,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 173,
            "source": "https://freepublicapis.com/dragon-ball-api"
          },
          {
            "id": 80,
            "emoji": "🎲",
            "title": "Dungeons and Dragons",
            "description": "REST + GraphQL API for the 5e SRD database",
            "documentation": "https://5e-bits.github.io/docs/",
            "methods": 3,
            "health": 86,
            "popularity": 262,
            "avg_reliability": 66,
            "avg_error": 0,
            "avg_latency": 370,
            "source": "https://freepublicapis.com/dungeons-and-dragons"
          },
          {
            "id": 178,
            "emoji": "🧙‍♂️",
            "title": "Dungeons and Dragons API",
            "description": "This API provides access to the 5th Edition Dungeons and Dragons System Reference Document (SRD). It allows developers to retrieve information about spells, classes, monsters, and other game elements through a modern RESTful interface.",
            "documentation": "https://www.dnd5eapi.co/",
            "methods": 3,
            "health": 86,
            "popularity": 449,
            "avg_reliability": 66,
            "avg_error": 0,
            "avg_latency": 383,
            "source": "https://freepublicapis.com/dungeons-and-dragons-api"
          },
          {
            "id": 335,
            "emoji": "💵",
            "title": "Dólar y Monedas API",
            "description": "Este API proporciona información sobre el precio del Dólar Oficial, Dólar Blue, Dólar Bolsa, Dólar CCL, Dólar Mayorista y otras monedas en países de América del Sur como Argentina, Chile, Venezuela y Uruguay. Permite obtener cotizaciones actuales y datos históricos sobre estas divisas importantes.",
            "documentation": "https://dolarapi.com/docs",
            "methods": 1,
            "health": 95,
            "popularity": 91,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 241,
            "source": "https://freepublicapis.com/dólar-y-monedas-api"
          },
          {
            "id": 233,
            "emoji": "🌐",
            "title": "EC2 Shop API",
            "description": "A simple and fast API to get Amazon EC2 instance pricing right from your terminal. Supports filtering and sorting by various attributes like memory, CPU, price, and spot price. Provides up-to-date pricing data for on-demand and spot instances, refreshed every 2.5 minutes.",
            "documentation": "https://github.com/yeo/ec2.shop#api-document",
            "methods": 2,
            "health": 70,
            "popularity": 146,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 459,
            "source": "https://freepublicapis.com/ec-2-shop"
          },
          {
            "id": 138,
            "emoji": "🚀",
            "title": "ESI Documentation",
            "description": "Official EVE Online API documentation",
            "documentation": "https://docs.esi.evetech.net/",
            "methods": 3,
            "health": 86,
            "popularity": 65,
            "avg_reliability": 66,
            "avg_error": 0,
            "avg_latency": 330,
            "source": "https://freepublicapis.com/esi-documentation"
          },
          {
            "id": 134,
            "emoji": "✉️",
            "title": "EVA Email Verification",
            "description": "API for email verification.",
            "documentation": "https://eva.pingutil.com/",
            "methods": 1,
            "health": 25,
            "popularity": 564,
            "avg_reliability": 0,
            "avg_error": 100,
            "avg_latency": 0,
            "source": "https://freepublicapis.com/eva-email-verification"
          },
          {
            "id": 283,
            "emoji": "🌍",
            "title": "Earthquake Catalog API",
            "description": "This API allows users to perform custom searches for earthquake information based on various parameters, such as location, time, and magnitude. It adheres to the FDSN Event Web Service Specifications, providing a structured way to access earthquake data.",
            "documentation": "https://earthquake.usgs.gov/fdsnws/event/1/",
            "methods": 1,
            "health": 90,
            "popularity": 217,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 504,
            "source": "https://freepublicapis.com/earthquake-catalog-api"
          },
          {
            "id": 260,
            "emoji": "⚡",
            "title": "Elering Dashboard API",
            "description": "This API provides access to various data sets related to the Elering power and gas systems, including balancing data and capacity information. It offers endpoints for retrieving real-time data, historical records, and CSV file downloads for easy data handling.",
            "documentation": "https://dashboard.elering.ee/assets/api-doc.html",
            "methods": 2,
            "health": 82,
            "popularity": 38,
            "avg_reliability": 50,
            "avg_error": 0,
            "avg_latency": 342,
            "source": "https://freepublicapis.com/elering-dashboard-api"
          },
          {
            "id": 49,
            "emoji": "🚀",
            "title": "ElonMuskAPI",
            "description": "MaaS: Musk as a Service: Get Random News Articles Featuring Our Lord and Savior Elon Musk Using This Free Public API!",
            "documentation": "https://elonmu.sh/",
            "methods": 1,
            "health": 90,
            "popularity": 90,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 740,
            "source": "https://freepublicapis.com/elonmuskapi"
          },
          {
            "id": 38,
            "emoji": "📄",
            "title": "EmojiHub",
            "description": "Get random emojis or access the entire emoji database by category or group. Easily retrieve html codes to use in web applications.",
            "documentation": "https://github.com/cheatsnake/emojihub",
            "methods": 3,
            "health": 43,
            "popularity": 57,
            "avg_reliability": 14,
            "avg_error": 60,
            "avg_latency": 175,
            "source": "https://freepublicapis.com/emojihub"
          },
          {
            "id": 30,
            "emoji": "📻",
            "title": "Energy Radio Stations",
            "description": "Provides various radio stations with different music genres and themes.",
            "documentation": "https://energy.ch/stations/energy-bern/playlist",
            "methods": 1,
            "health": 67,
            "popularity": 378,
            "avg_reliability": 3,
            "avg_error": 6,
            "avg_latency": 426,
            "source": "https://freepublicapis.com/energy-radio-stations"
          },
          {
            "id": 100,
            "emoji": "🔌",
            "title": "Energy-Charts API",
            "description": "Provides access to energy data. Allows users to retrieve and analyze energy consumption information.",
            "documentation": "https://api.energy-charts.info/",
            "methods": 2,
            "health": 74,
            "popularity": 519,
            "avg_reliability": 83,
            "avg_error": 13,
            "avg_latency": 1897,
            "source": "https://freepublicapis.com/energy-charts-api"
          },
          {
            "id": 180,
            "emoji": "😈",
            "title": "Evil Insult Generator",
            "description": "This API generates humorous and malicious insults based on specified parameters. Users can customize the insult's language and response type, receiving responses in plain text, XML, or JSON formats.",
            "documentation": "https://evilinsult.com/api/",
            "methods": 1,
            "health": 95,
            "popularity": 620,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 375,
            "source": "https://freepublicapis.com/evil-insult-generator"
          },
          {
            "id": 348,
            "emoji": "💱",
            "title": "Exchange Rate API",
            "description": "ExchangeRate-API provides a free and open-access API for real-time currency conversion and exchange rate data without the need for an API key. It supports various currency pairs and allows users to obtain current and historical exchange rates for personal or commercial use, subject to terms of attribution and rate limits.",
            "documentation": "https://www.exchangerate-api.com/docs/free",
            "methods": 1,
            "health": 95,
            "popularity": 247,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 179,
            "source": "https://freepublicapis.com/exchange-rate-api"
          },
          {
            "id": 300,
            "emoji": "🦖",
            "title": "Extinct Animals API",
            "description": "This API provides information about animals that became extinct in the last 11,650 years, known as the Holocene extinction. It gathers data from Wikipedia and individual animal pages, allowing users to retrieve information about these extinct species, including their names and last recorded sightings.",
            "documentation": "https://cheba-apis.vercel.app/",
            "methods": 1,
            "health": 80,
            "popularity": 278,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 2545,
            "source": "https://freepublicapis.com/extinct-animals-api"
          },
          {
            "id": 140,
            "emoji": "📰",
            "title": "FIRST News API",
            "description": "Public query for FIRST News with additional parameters for filtering results. No credentials required.",
            "documentation": "https://api.first.org/v1/get-news",
            "methods": 1,
            "health": 65,
            "popularity": 198,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 598,
            "source": "https://freepublicapis.com/first-news-api"
          },
          {
            "id": 289,
            "emoji": "🎭",
            "title": "Fake JSON API",
            "description": "This free public API allows developers to easily obtain fake JSON data for testing and development. There is no need for registration, tokens, or authentication, simplifying the process of retrieving dummy data quickly.",
            "documentation": "https://softwium.com/fake-api/",
            "methods": 4,
            "health": 82,
            "popularity": 188,
            "avg_reliability": 50,
            "avg_error": 0,
            "avg_latency": 277,
            "source": "https://freepublicapis.com/fake-json-api"
          },
          {
            "id": 89,
            "emoji": "⚙️",
            "title": "Fake Store API",
            "description": "Fake store rest api for your ecommerce or shopping website prototype.",
            "documentation": "https://fakestoreapi.com/docs",
            "methods": 4,
            "health": 77,
            "popularity": 622,
            "avg_reliability": 48,
            "avg_error": 0,
            "avg_latency": 557,
            "source": "https://freepublicapis.com/fake-store-api"
          },
          {
            "id": 248,
            "emoji": "🎲",
            "title": "Fantasy Role Playing API",
            "description": "Set API allows users to query and generate entities within a fantasy role-playing world. It supports various actions such as rolling items and characters via HTTP GET requests, making it easily accessible and compatible with JSON, CURL, and CORS.",
            "documentation": "https://set.world",
            "methods": 2,
            "health": 94,
            "popularity": 226,
            "avg_reliability": 99,
            "avg_error": 0,
            "avg_latency": 441,
            "source": "https://freepublicapis.com/fantasy-role-playing-api"
          },
          {
            "id": 269,
            "emoji": "🌐",
            "title": "FastAPI",
            "description": "FastAPI is a modern, fast (high-performance), web framework for building APIs with Python 3.6+ based on standard Python type hints. It allows for easy creation of applications while ensuring validation, serialization, and documentation are handled automatically.",
            "documentation": "https://realip.cc/docs",
            "methods": 1,
            "health": 90,
            "popularity": 144,
            "avg_reliability": 100,
            "avg_error": 0,
            "avg_latency": 645,
            "source": "https://freepublicapis.com/fastapi"
          },
          {
            "id": 204,
            "emoji": "📜",
            "title": "Federal Register API",
            "description": "The Federal Register API provides access to data from the Federal Register, allowing users to fetch single or multiple documents, perform searches, and access metadata associated with these documents. This API returns data in both CSV and JSON formats, and no API keys are required for use.",
            "documentation": "https://www.federalregister.gov/reader-aids/developer-resources/rest-api",
            "methods": 2,
            "health": 77,
            "popularity": 94,
            "avg_reliability": 50,
            "avg_error": 0,
            "avg_latency": 566,
            "source": "https://freepublicapis.com/federal-register-api"
          },
          {
            "id": 81,
            "emoji": "📨",
            "title": "Fedora Messaging API",
            "description": "Retrieve historical messages sent via Fedora Messaging using HTTP GET requests. Query by username, package, message source, topic, etc.",
            "documentation": "https://apps.fedoraproject.org/datagrepper/",
            "methods": 1,
            "health": 60,
            "popularity": 36,
            "avg_reliability": 0,
            "avg_error": 0,
            "avg_latency": 1136,
            "source": "https://freepublicapis.com/fedora-messaging-api"
          }
        ]
      },
      "APIInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 191
          },
          "emoji": {
            "type": "string",
            "example": "🌍"
          },
          "title": {
            "type": "string",
            "example": "IP Geolocation & Currency Converter"
          },
          "description": {
            "type": "string",
            "example": "The JSON IP Geolocation API allows you to determine the geographical location of visitors based on their IP addresses. It provides detailed location data such as country, region, city, and coordinates in a structured JSON format."
          },
          "documentation": {
            "type": "string",
            "format": "uri",
            "example": "https://www.geoplugin.com/webservices/json"
          },
          "methods": {
            "type": "integer",
            "example": 2
          },
          "health": {
            "type": "integer",
            "example": 100
          },
          "popularity": {
            "type": "integer",
            "example": 1822
          },
          "avg_reliability": {
            "type": "integer",
            "example": 100
          },
          "avg_error": {
            "type": "integer",
            "example": 0
          },
          "avg_latency": {
            "type": "integer",
            "example": 46
          },
          "source": {
            "type": "string",
            "format": "uri",
            "example": "https://freepublicapis.com/json-ip-geolocation"
          }
        },
        "required": [
          "id",
          "emoji",
          "title",
          "description",
          "documentation",
          "methods",
          "health",
          "popularity",
          "avg_reliability",
          "avg_error",
          "avg_latency",
          "source"
        ],
        "example": {
          "id": 191,
          "emoji": "🌍",
          "title": "IP Geolocation & Currency Converter",
          "description": "The JSON IP Geolocation API allows you to determine the geographical location of visitors based on their IP addresses. It provides detailed location data such as country, region, city, and coordinates in a structured JSON format.",
          "documentation": "https://www.geoplugin.com/webservices/json",
          "methods": 2,
          "health": 100,
          "popularity": 1822,
          "avg_reliability": 100,
          "avg_error": 0,
          "avg_latency": 46,
          "source": "https://freepublicapis.com/json-ip-geolocation"
        }
      }
    },
    "responses": {
      "SimpleAPIInfoResponse": {
        "description": "Returns simple information about a single API",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SimpleAPIInfo"
            },
            "example": {
              "id": 38,
              "emoji": "📄",
              "title": "EmojiHub",
              "description": "Get random emojis or access the entire emoji database by category or group. Easily retrieve html codes to use in web applications.",
              "documentation": "https://github.com/cheatsnake/emojihub",
              "methods": 3,
              "health": 25,
              "source": "https://freepublicapis.com/emojihub"
            }
          }
        }
      },
      "APIInfosResponse": {
        "description": "Returns a list of API information",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIInfos"
            },
            "example": [
              {
                "id": 220,
                "emoji": "⚠️",
                "title": "404 Error Handler",
                "description": "This API is designed to help developers manage and respond to 404 errors on their websites. It provides insights into potential causes and offers solutions for correcting broken links and missing files to improve user experience.",
                "documentation": "http://ccdb.hemiola.com/",
                "methods": 1,
                "health": 65,
                "popularity": 551,
                "avg_reliability": 0,
                "avg_error": 0,
                "avg_latency": 712,
                "source": "https://freepublicapis.com/404-error-handler"
              },
              {
                "id": 154,
                "emoji": "🟢",
                "title": "4chan API",
                "description": "4chan's read-only JSON API",
                "documentation": "https://github.com/4chan/4chan-API",
                "methods": 3,
                "health": 70,
                "popularity": 622,
                "avg_reliability": 0,
                "avg_error": 0,
                "avg_latency": 291,
                "source": "https://freepublicapis.com/4chan-api"
              },
              {
                "id": 294,
                "emoji": "☁️",
                "title": "7Timer Weather API",
                "description": "The 7Timer Weather API provides global numerical weather forecasts derived from high-resolution models. Users can access weather data in graphical or machine-readable formats without needing an API key, enabling programmatic access to various meteorological elements.",
                "documentation": "https://www.7timer.info/doc.php?lang=en",
                "methods": 1,
                "health": 95,
                "popularity": 307,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 423,
                "source": "https://freepublicapis.com/7timer-weather-api"
              },
              {
                "id": 378,
                "emoji": "🛠️",
                "title": "API Tools",
                "description": "API Tools – Access over 30+ REST APIs, all completely free with no usage limits. Explore a wide range of tools designed for everyone, no sign-up or restrictions required!",
                "documentation": "https://api.apitools.workers.dev/",
                "methods": 1,
                "health": 30,
                "popularity": 203,
                "avg_reliability": 20,
                "avg_error": 80,
                "avg_latency": 821,
                "source": "https://freepublicapis.com/api-tools"
              },
              {
                "id": 167,
                "emoji": "🕵️",
                "title": "APIC Agent",
                "description": "Free REST API to detect browser, OS, device from user agent string. Provides easy-to-use API to avoid user-agent parsing libraries.",
                "documentation": "https://www.apicagent.com/docs",
                "methods": 1,
                "health": 95,
                "popularity": 137,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 490,
                "source": "https://freepublicapis.com/apic-agent"
              },
              {
                "id": 32,
                "emoji": "🌊",
                "title": "Aare.guru API",
                "description": "Public API for Aare river data including temperature, flow rate, weather forecasts, and more. Non-commercial use allowed with customizable app and version parameters.",
                "documentation": "https://aareguru.existenz.ch/",
                "methods": 4,
                "health": 88,
                "popularity": 512,
                "avg_reliability": 75,
                "avg_error": 0,
                "avg_latency": 180,
                "source": "https://freepublicapis.com/aareguru-api"
              },
              {
                "id": 310,
                "emoji": "🏠",
                "title": "Address Lookup Service",
                "description": "The Address Lookup Service API provides a means for users to retrieve address records based on input address information. Users can submit both GET and POST requests to search for address details using free-text format inputs, facilitating easy access to relevant address data.",
                "documentation": "https://data.gov.hk/en-data/dataset/hk-dpo-als_01-als/resource/210c2cc9-1172-4529-a82b-f10107513e9c",
                "methods": 1,
                "health": 60,
                "popularity": 109,
                "avg_reliability": 0,
                "avg_error": 0,
                "avg_latency": 1065,
                "source": "https://freepublicapis.com/address-lookup-service"
              },
              {
                "id": 117,
                "emoji": "💬",
                "title": "Advice Slip API",
                "description": "Provides random advice slips, advice by ID, and searching advice functionalities. Includes objects for slip, search, and message.",
                "documentation": "https://api.adviceslip.com/",
                "methods": 2,
                "health": 95,
                "popularity": 464,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 305,
                "source": "https://freepublicapis.com/advice-slip-api"
              },
              {
                "id": 350,
                "emoji": "💡",
                "title": "Advice Slip API",
                "description": "This API provides random pieces of advice to users, enabling them to receive thoughtful suggestions on various topics. Users can easily retrieve advice slips in a straightforward manner through simple API calls.",
                "documentation": "https://api.adviceslip.com/advice/search/try1",
                "methods": 1,
                "health": 95,
                "popularity": 125,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 348,
                "source": "https://freepublicapis.com/advice-slip-api-2"
              },
              {
                "id": 214,
                "emoji": "🌟",
                "title": "Affirmation Generator API",
                "description": "This API provides inspirational affirmations to boost positivity and self-esteem. Users can retrieve random affirmations to enhance their mental wellness and motivation.",
                "documentation": "https://www.affirmations.dev/",
                "methods": 1,
                "health": 95,
                "popularity": 599,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 361,
                "source": "https://freepublicapis.com/affirmation-generator-api"
              },
              {
                "id": 34,
                "emoji": "🌎",
                "title": "Agify.io",
                "description": "Estimate age from names. Integrate age inference directly into workflows and perform efficient inference on big datasets with simple APIs. Enrich data with demographic insights.",
                "documentation": "https://agify.io/",
                "methods": 1,
                "health": 90,
                "popularity": 638,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 584,
                "source": "https://freepublicapis.com/agifyio"
              },
              {
                "id": 121,
                "emoji": "🌱",
                "title": "Air Quality API",
                "description": "Pollutants and pollen forecast in 11 km resolution",
                "documentation": "https://open-meteo.com/en/docs/air-quality-api",
                "methods": 1,
                "health": 95,
                "popularity": 1692,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 229,
                "source": "https://freepublicapis.com/air-quality-api"
              },
              {
                "id": 339,
                "emoji": "💬",
                "title": "Alan Perlis Quotes",
                "description": "This API provides random epigrams by Alan Perlis, a notable figure in computer science. Users can programmatically access a variety of his thought-provoking quotes to enhance their applications or for inspiration.",
                "documentation": "https://perl.is/",
                "methods": 1,
                "health": 95,
                "popularity": 151,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 338,
                "source": "https://freepublicapis.com/alan-perlis-quotes"
              },
              {
                "id": 175,
                "emoji": "🎮",
                "title": "AmiiboAPI",
                "description": "A RESTful API for Amiibo providing information on different amiibos, types, game series, characters, and more. It is primarily used for educational purposes and allows reading-only access with no authentication required.",
                "documentation": "https://amiiboapi.com/docs/",
                "methods": 1,
                "health": 60,
                "popularity": 72,
                "avg_reliability": 0,
                "avg_error": 0,
                "avg_latency": 1010,
                "source": "https://freepublicapis.com/amiiboapi"
              },
              {
                "id": 160,
                "emoji": "🔥",
                "title": "AnApiOfIceAndFire",
                "description": "API providing data from the universe of Ice and Fire (Game of Thrones) including characters, houses, and books. Open source and accessible through HTTP with SDKs available in multiple languages.",
                "documentation": "https://anapioficeandfire.com/",
                "methods": 2,
                "health": 95,
                "popularity": 84,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 265,
                "source": "https://freepublicapis.com/anapioficeandfire"
              },
              {
                "id": 274,
                "emoji": "📚",
                "title": "Answerbook API",
                "description": "The Answerbook API provides access to a collection of random answers and features, such as a random password generator and Tang poetry retrieval. It can be deployed on Cloudflare Workers, making it adaptable for various applications.",
                "documentation": "https://github.com/tbdavid2019/answerbook-api",
                "methods": 1,
                "health": 95,
                "popularity": 266,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 316,
                "source": "https://freepublicapis.com/answerbook-api"
              },
              {
                "id": 341,
                "emoji": "🐟",
                "title": "Anti-Phishing Detection",
                "description": "FishFish is an automated service designed to quickly detect and mitigate phishing threats before they can be exploited for malicious purposes. It provides a streamlined solution for identifying harmful resources efficiently.",
                "documentation": "https://fishfish.gg/",
                "methods": 2,
                "health": 77,
                "popularity": 92,
                "avg_reliability": 50,
                "avg_error": 0,
                "avg_latency": 806,
                "source": "https://freepublicapis.com/anti-phishing-detection"
              },
              {
                "id": 151,
                "emoji": "💼",
                "title": "Arbeitnow",
                "description": "Arbeitnow helps companies hire candidates with visa sponsorship / four day work week / remote opportunities.",
                "documentation": "https://documenter.getpostman.com/view/18545278/UVJbJdKh",
                "methods": 1,
                "health": 70,
                "popularity": 162,
                "avg_reliability": 0,
                "avg_error": 0,
                "avg_latency": 419,
                "source": "https://freepublicapis.com/arbeitnow"
              },
              {
                "id": 263,
                "emoji": "🗺️",
                "title": "ArcGIS Hub - World Countries Generalized",
                "description": "The World Countries Generalized layer provides a simplified representation of global country boundaries, optimized for performance and visibility at broader scales (1:5,000,000 and beyond). Developed by Esri using data from Garmin International, the CIA World Factbook, and the National Geographic Society, this layer is updated annually to reflect changes in country names and significant borders. Ideal for applications requiring an authoritative, generalized world basemap.",
                "documentation": "https://hub.arcgis.com/datasets/2b93b06dc0dc4e809d3c8db5cb96ba69_0/about",
                "methods": 2,
                "health": 60,
                "popularity": 86,
                "avg_reliability": 0,
                "avg_error": 0,
                "avg_latency": 1427,
                "source": "https://freepublicapis.com/arcgis-hub-world-countries-generalized"
              },
              {
                "id": 352,
                "emoji": "🇦🇷",
                "title": "ArgentinaDatos API",
                "description": "This API provides up-to-date information on various data points from Argentina, including historical exchange rates, financial indices, and public holidays. It enables users to access data in a RESTful manner, making it a valuable resource for developers and analysts interested in Argentine data.",
                "documentation": "https://argentinadatos.com/",
                "methods": 1,
                "health": 95,
                "popularity": 22,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 261,
                "source": "https://freepublicapis.com/argentinadatos-api"
              },
              {
                "id": 336,
                "emoji": "💱",
                "title": "ArgentoFX API",
                "description": "API RESTful to obtain live quotations of foreign currencies in Argentina. It provides endpoints for various types of dollar quotes, as well as other currencies.",
                "documentation": "https://fastapiproject-1-eziw.onrender.com/docs",
                "methods": 1,
                "health": 84,
                "popularity": 72,
                "avg_reliability": 89,
                "avg_error": 6,
                "avg_latency": 646,
                "source": "https://freepublicapis.com/argentofx-api"
              },
              {
                "id": 97,
                "emoji": "🎨",
                "title": "Art Institute of Chicago API",
                "description": "The Art Institute of Chicago's API allows developers to explore and integrate the museum’s public data into their projects. This API is the same tool that powers the website, the mobile app, and many other technologies in the museum.",
                "documentation": "https://api.artic.edu/docs/",
                "methods": 3,
                "health": 67,
                "popularity": 251,
                "avg_reliability": 50,
                "avg_error": 20,
                "avg_latency": 768,
                "source": "https://freepublicapis.com/art-institute-of-chicago-api"
              },
              {
                "id": 168,
                "emoji": "🌐",
                "title": "Arul's IP API",
                "description": "Get your IP Address using this API",
                "documentation": "https://aruljohn.com/api/",
                "methods": 1,
                "health": 95,
                "popularity": 216,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 460,
                "source": "https://freepublicapis.com/aruls-ip-api"
              },
              {
                "id": 318,
                "emoji": "🎮",
                "title": "Attack on Titan API",
                "description": "A RESTful API that provides access to a wide range of data related to the popular anime and manga series 'Attack on Titan'. Users can retrieve information about characters, episodes, locations, organizations, and titans, making it a valuable resource for fans and developers alike.",
                "documentation": "https://www.attackontitanapi.com/",
                "methods": 6,
                "health": 81,
                "popularity": 229,
                "avg_reliability": 66,
                "avg_error": 0,
                "avg_latency": 699,
                "source": "https://freepublicapis.com/attack-on-titan-api"
              },
              {
                "id": 83,
                "emoji": "🛣️",
                "title": "Autobahn API (DE)",
                "description": "OpenAPI Documentation for Autobahn GmbH's Autobahn API.",
                "documentation": "https://autobahn.api.bund.dev/",
                "methods": 3,
                "health": 78,
                "popularity": 460,
                "avg_reliability": 32,
                "avg_error": 0,
                "avg_latency": 283,
                "source": "https://freepublicapis.com/autobahn-api-de"
              },
              {
                "id": 115,
                "emoji": "🚀",
                "title": "Avatar",
                "description": "If you are an Avatar fan, then this api is for you. Here you can find everything from Episodes to Characters to Trivia Questions and more.",
                "documentation": "https://sampleapis.com/api-list/avatar",
                "methods": 3,
                "health": 72,
                "popularity": 413,
                "avg_reliability": 33,
                "avg_error": 1,
                "avg_latency": 514,
                "source": "https://freepublicapis.com/avatar"
              },
              {
                "id": 295,
                "emoji": "✈️",
                "title": "AviationWeather Data API",
                "description": "This API provides machine-to-machine access to aviation weather data, including METARs, TAFs, AIRMETs, and SIGMETs. It enables users to fetch up-to-date weather information for flight planning and operations. The service allows queries for the past 15 days of data and provides cache options for efficient data retrieval.",
                "documentation": "https://aviationweather.gov/data/api/",
                "methods": 1,
                "health": 65,
                "popularity": 160,
                "avg_reliability": 0,
                "avg_error": 0,
                "avg_latency": 880,
                "source": "https://freepublicapis.com/aviationweather-data-api"
              },
              {
                "id": 386,
                "emoji": "🔰",
                "title": "BIZ FACTORY",
                "description": "BIZ FACTORY is a Telegram group dedicated to sharing paid methods, APIs, tricks, scripts, and coding resources. Members can access various premium tools and information for free. Join to enhance your skills and discover valuable resources.",
                "documentation": "https://t.me/+NaATB64x9z4zNTZl",
                "methods": 1,
                "health": 80,
                "popularity": 21,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 2526,
                "source": "https://freepublicapis.com/biz-factory"
              },
              {
                "id": 286,
                "emoji": "🥓",
                "title": "Bacon Ipsum API",
                "description": "The Bacon Ipsum JSON API is a REST interface for generating meaty lorem ipsum text that can be utilized by any application. Users can specify parameters such as type of text, number of paragraphs, and format to get tailored responses.",
                "documentation": "https://baconipsum.com/json-api/",
                "methods": 2,
                "health": 90,
                "popularity": 109,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 606,
                "source": "https://freepublicapis.com/bacon-ipsum-api"
              },
              {
                "id": 110,
                "emoji": "📊",
                "title": "Berufsbildung Daten Exporte",
                "description": "API zur Exportierung von Daten zu Lehrverträgen und Abschlüssen der Berufsbildung seit 2017, einschließlich Anzahl der Lehrverträge, neu registrierten Lehrverträgen und Abschlüssen der Qualifikationsverfahren nach Ausbildungsfeldern.",
                "documentation": "https://data.tg.ch/explore/dataset/dek-abb-1/information/",
                "methods": 2,
                "health": 82,
                "popularity": 85,
                "avg_reliability": 50,
                "avg_error": 0,
                "avg_latency": 334,
                "source": "https://freepublicapis.com/berufsbildung-daten-exporte"
              },
              {
                "id": 384,
                "emoji": "🔑",
                "title": "BluTV Authentication API",
                "description": "This API handles user authentication for BluTV, allowing users to log in with their credentials or via social media accounts like Facebook and Google. It also provides functionality for password recovery and user registration, enhancing security and user experience.",
                "documentation": "https://www.blutv.com/int/giris",
                "methods": 2,
                "health": 26,
                "popularity": 14,
                "avg_reliability": 5,
                "avg_error": 100,
                "avg_latency": 0,
                "source": "https://freepublicapis.com/blutv-authentication-api"
              },
              {
                "id": 234,
                "emoji": "🎮",
                "title": "BoneQuest API",
                "description": "The BoneQuest API provides access to episode data, allowing users to fetch details about episodes, including dialogue and metadata. It returns structured JSON responses for easy integration and use by developers.",
                "documentation": "https://github.com/bonequest/api",
                "methods": 1,
                "health": 90,
                "popularity": 70,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 720,
                "source": "https://freepublicapis.com/bonequest-api"
              },
              {
                "id": 41,
                "emoji": "🎲",
                "title": "Bored API",
                "description": "Get random activities based on type, participants, price, and accessibility ranges.",
                "documentation": "https://www.boredapi.com/api/",
                "methods": 3,
                "health": 25,
                "popularity": 1115,
                "avg_reliability": 0,
                "avg_error": 100,
                "avg_latency": 0,
                "source": "https://freepublicapis.com/bored-api"
              },
              {
                "id": 200,
                "emoji": "🇧🇷",
                "title": "Brasil API",
                "description": "Acesso programático de informações relacionadas a CEPs, bancos, CNPJ, IBGE, feriados nacionais, tabela FIPE e muito mais, fornecendo endpoints modernos com baixa latência. Este projeto busca centralizar dados públicos para uma fácil e rápida consulta em aplicações.",
                "documentation": "https://brasilapi.com.br/docs",
                "methods": 1,
                "health": 95,
                "popularity": 155,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 314,
                "source": "https://freepublicapis.com/brasil-api"
              },
              {
                "id": 123,
                "emoji": "💎",
                "title": "Breaking Bad Quotes",
                "description": "A free API to retrieve quotes from Breaking Bad.",
                "documentation": "https://breakingbadquotes.xyz/",
                "methods": 2,
                "health": 95,
                "popularity": 320,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 310,
                "source": "https://freepublicapis.com/breaking-bad-quotes"
              },
              {
                "id": 323,
                "emoji": "🧘‍♂️",
                "title": "Buddha Quotes API",
                "description": "This API provides access to a collection of inspirational quotes from Buddhist figures including Buddha, Dogen, and Thich Nhat Hanh. Users can retrieve random quotes as well as specific quotes for today, making it a resource for daily wisdom and reflection.",
                "documentation": "https://buddha-api.com/",
                "methods": 1,
                "health": 95,
                "popularity": 311,
                "avg_reliability": 100,
                "avg_error": 0,
                "avg_latency": 303,
                "source": "https://freepublicapis.com/buddha-quotes-api"
              },
              {
                "id": 142,
                "emoji": "😺",
                "title": "CATAAS API",
                "description": "A REST API to spread peace and love (or not) thanks to cats. Provides various endpoints to get random cats, cats with specific tags, cat gifs, and more. Also allows customization of cat images and retrieving cat data in JSON format.",
                "documentation": "https://cataas.com/",
                "methods": 2,
                "health": 89,
                "popularity": 526,
                "avg_reliability": 78,
                "avg_error": 0,
                "avg_latency": 247,
                "source": "https://freepublicapis.com/cataas-api"
              },
              {
[...]
