{
  "openapi": "3.1.0",
  "info": {
    "title": "Free Public APIs API",
    "description": "FreePublicAPIs now has a free public API! The Free Public APIs API provides up-to-date information on every free public API listed on freepublicapis. com. Perfect for developers, students and hobbyists. It is limited to 1000 requests a day, if you need more, feel free to reach out. Also if you build something with this API, make sure to add it as a showcase project here.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.freepublicapis.com/api"
    }
  ],
  "paths": {
    "/random": {
      "get": {
        "summary": "Get a Random API",
        "operationId": "GetRandom",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SimpleAPIInfoResponse"
          }
        }
      }
    },
    "/apis/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/id"
        }
      ],
      "get": {
        "summary": "Get a Specific API by ID",
        "operationId": "GetAPI",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SimpleAPIInfoResponse"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerErrorResponse"
          }
        }
      }
    },
    "/apis": {
      "parameters": [
        {
          "$ref": "#/components/parameters/limit"
        },
        {
          "$ref": "#/components/parameters/sort"
        }
      ],
      "get": {
        "summary": "List APIs with Parameters",
        "operationId": "ListApis",
        "responses": {
          "200": {
            "$ref": "#/components/responses/APIInfosResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SimpleAPIInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 38
          },
          "emoji": {
            "type": "string",
            "example": "📄"
          },
          "title": {
            "type": "string",
            "example": "EmojiHub"
          },
          "description": {
            "type": "string",
            "example": "Get random emojis or access the entire emoji database by category or group. Easily retrieve html codes to use in web applications."
          },
          "documentation": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/cheatsnake/emojihub"
          },
          "methods": {
            "type": "integer",
            "example": 3
          },
          "health": {
            "type": "integer",
            "example": 25
          },
          "source": {
            "type": "string",
            "format": "uri",
            "example": "https://freepublicapis.com/emojihub"
          }
        },
        "required": [
          "id",
          "emoji",
          "title",
          "description",
          "documentation",
          "methods",
          "health",
          "source"
        ],
        "example": {
          "id": 38,
          "emoji": "📄",
          "title": "EmojiHub",
          "description": "Get random emojis or access the entire emoji database by category or group. Easily retrieve html codes to use in web applications.",
          "documentation": "https://github.com/cheatsnake/emojihub",
          "methods": 3,
          "health": 25,
          "source": "https://freepublicapis.com/emojihub"
        }
      },
      "APIInfos": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/APIInfo"
        }
      },
      "APIInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 191
          },
          "emoji": {
            "type": "string",
            "example": "🌍"
          },
          "title": {
            "type": "string",
            "example": "IP Geolocation & Currency Converter"
          },
          "description": {
            "type": "string",
            "example": "The JSON IP Geolocation API allows you to determine the geographical location of visitors based on their IP addresses. It provides detailed location data such as country, region, city, and coordinates in a structured JSON format."
          },
          "documentation": {
            "type": "string",
            "format": "uri",
            "example": "https://www.geoplugin.com/webservices/json"
          },
          "methods": {
            "type": "integer",
            "example": 2
          },
          "health": {
            "type": "integer",
            "example": 100
          },
          "popularity": {
            "type": "integer",
            "example": 1822
          },
          "avg_reliability": {
            "type": "integer",
            "example": 100
          },
          "avg_error": {
            "type": "integer",
            "example": 0
          },
          "avg_latency": {
            "type": "integer",
            "example": 46
          },
          "source": {
            "type": "string",
            "format": "uri",
            "example": "https://freepublicapis.com/json-ip-geolocation"
          }
        },
        "required": [
          "id",
          "emoji",
          "title",
          "description",
          "documentation",
          "methods",
          "health",
          "popularity",
          "avg_reliability",
          "avg_error",
          "avg_latency",
          "source"
        ],
        "example": {
          "id": 191,
          "emoji": "🌍",
          "title": "IP Geolocation & Currency Converter",
          "description": "The JSON IP Geolocation API allows you to determine the geographical location of visitors based on their IP addresses. It provides detailed location data such as country, region, city, and coordinates in a structured JSON format.",
          "documentation": "https://www.geoplugin.com/webservices/json",
          "methods": 2,
          "health": 100,
          "popularity": 1822,
          "avg_reliability": 100,
          "avg_error": 0,
          "avg_latency": 46,
          "source": "https://freepublicapis.com/json-ip-geolocation"
        }
      }
    },
    "responses": {
      "SimpleAPIInfoResponse": {
        "description": "Returns simple information about a single API",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SimpleAPIInfo"
            },
            "example": {
              "id": 38,
              "emoji": "📄",
              "title": "EmojiHub",
              "description": "Get random emojis or access the entire emoji database by category or group. Easily retrieve html codes to use in web applications.",
              "documentation": "https://github.com/cheatsnake/emojihub",
              "methods": 3,
              "health": 25,
              "source": "https://freepublicapis.com/emojihub"
            }
          }
        }
      },
      "APIInfosResponse": {
        "description": "Returns a list of API information",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIInfos"
            }
          }
        }
      },
      "InternalServerErrorResponse": {
        "description": "The server can't serve the request due to an error",
        "content": {
          "text/plain; charset=utf-8": {
            "example": "Internal Server Error"
          }
        }
      }
    },
    "parameters": {
      "id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "example": 275
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "example": 10
        },
        "example": 10
      },
      "sort": {
        "name": "sort",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "best",
            "new",
            "fast",
            "popular",
            "noerror",
            "reliable",
            "all"
          ],
          "example": "best"
        },
        "example": "best"
      }
    }
  },
  "externalDocs": {
    "description": "API documentation",
    "url": "https://www.freepublicapis.com/api"
  }
}